<%- include('../partials/head') %>
    <table class="table table-striped table-primary">
        <h2 class="text-center">Reviews For You</h2>
        <thead>
            <tr>
                <th class="bg-danger text-center border border-2">From</th>
                <th class="bg-danger text-center border border-2">Review</th>
            </tr>
        </thead>
        <tbody>
            <%if (records.length>0){ %>
                <% records.forEach(function(row){ %>
                    <tr>
                        <td class="text-center border border-2 col-3">
                            <%= row.reviewFrom %>
                        </td>
                        <td class="text-center border border-2 col-9">
                            <%= row.review %>
                        </td>
                    </tr>
                    <% })}else{ %>
                        <tr>
                            <td class="text-center border border-2 col-12">
                                No reviews for you
                            </td>
                        </tr>
                        <% } %>
        </tbody> 
    </table>
    <hr>
    <table class="table table-striped table-primary">
        <h2 class="text-center mt-5"> Assigned Reviews</h2>
        <thead>
            <tr>
                <th class="bg-danger text-center border border-2">To</th>
                <th class="bg-danger text-center border border-2">Review</th>
            </tr>
        </thead>
        <tbody>
            <%if (work.length>0){ %>
                <% work.forEach(function(row){ %>

                    <tr>
                        <%# done brn click hone par niche ke dono values chaihye %>
                        <td class="text-center border border-2 col-3">
                          <%= row.reviewFor %>
                        </td>
                        <td class="text-center border border-2 col-9">
                            <input type="text" class="col-10"/>
                            <button class="col-1 btn btn-danger" onclick="done(this,'<%= row.reviewFor %>')">Done</button>
                        </td>
                    </tr>
                    <% })}else{ %>
                        <tr>
                            <td class="text-center border border-2 col-12">
                                No Reivew Task Assigned To You
                            </td>
                        </tr>
                    <% } %>
        </tbody>
    </table>
   
    <script>
        function done(btn,reviewFor){
            let remarks=btn.parentElement.getElementsByTagName('input')[0].value;
            if(!remarks){alert("Enter Review");return;}
            // console.log(btn.parentElement.parentElement)
            btn.parentElement.parentElement.remove();
             data =  JSON.stringify({review:remarks,reviewFor:reviewFor})
            
            fetch('/addReview', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: data
            })
                // .then((response) =>
                //     {
                        
                //     response.json()
                //     }
                // )
                // .then((result) => {
                    
                    
                // }).catch(er=>console.log(er))
        }
    </script>
</body>

</html>